/*
COLOURS

*/
body {
	font-size: 0.8em;
	font-family: sans-serif;
}

span.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#serverFileDialog #path {
	font-weight: bold;
	border-bottom: 1px solid orange;
}

.path {
	width: 300px;
}

.option {
	margin: 20px;
}